<table class="table table-stripped">
  <thead>
    <tr>
      <th>Phone Number </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% phone_numbers.each do |ph| %>
      <tr> 
        <td> <%= ph.phone_number %> </td>
        <td>
          <%= link_to 'Buy' , buy_phone_number_path(business.slug, :num => ph.phone_number) , class: 'btn btn-success btn-xs'%>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
