%ol.breadcrumb
  %li
    %a{:href => business_schedule_rules_path(@business)} Schedule Rules
  %li.active New Schedule Rule

%hr/


= render 'form'

%br/
%hr/

= link_to 'Back', business_schedule_rules_path, class: 'btn btn-link'
