%ol.breadcrumb
  %li
    %a{:href => business_schedule_rules_path(@business)} Schedule Rules
  %li.active New Schedule Rule

%hr/


= render 'form'

%br/
%br/
%hr/

= link_to 'Back', business_schedule_rules_path, class: 'btn btn-link'

- content_for :javascript do
  :coffeescript
    # Start the ScheduleForm UI
    $ -> window['view'] = new Scplanner.Views.Schedules.NewView()
