<h1>New schedule_creator</h1>

<form id="new-schedule_creator" name="schedule_creator">
  <div class="actions">
    <input type="submit" value="Create Schedule creator" />
  </div>

</form>

<a href="#/index">Back</a>