<ol class="breadcrumb">
  <li><a href="<%= business_offices_path(@business) %>">Offices</a></li>
  <li class='active'>New Office</li>
</ol>

<h1>New Office Location</h1>

<%= render 'form' %>
<hr/>
<%= link_to 'Back', business_offices_path %>
