@import "../colors";
@import "manage_businesses";
@import "manage_dashboard";
@import "manage_logs";

.checkbox input[type="checkbox"] {
  margin-left:0;
  margin-top:-7px;
}

#sidebar-wrapper .sidebar-nav > .sidebar-brand {
  min-height: 0px;
}
