@import "../colors";

body.system_logs {
  $entry-border: $blue;
  tr.entry {
    td {
      border-top:    2px solid $entry-border;
    }
    td:first-child {
      border-left:   2px solid $entry-border;
    }
    td:last-child {
      border-right:  2px solid $entry-border;
    }

    td.id {
      background:$entry-border;
      color:#fff;
    }

    td.time {
      background:#f7f7f7;
      border-left:1px solid #e1e1e1;
      color:#888;
    }
  }
  tr.facts {
    overflow:hidden;
    
    td {
      overflow:hidden;
      border-bottom: 2px solid $entry-border;
      border-left:   2px solid $entry-border;
      border-right:  2px solid $entry-border;
      font-size:11px;
    }
    .fact.row {
      border-bottom: 1px solid #e1e1e1;
      padding: 4px;
      border-left: 1px solid #e1e1e1;
      background:#EEFFEC;

      .index {
        max-width:20px;
      }

      .payload {
        text-transform:uppercase;

        textarea {
          border:none;
          background:none;
          width:100%;
          resize:vertical;
        }
      }

    }
    .fact.row:first-child {
      border-top:1px solid #e1e1e1;
    }
  }
}
