<div id="msgModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Send Message</h4>
      </div>
      <%= simple_form_for :message , :url => send_sms_path(business.slug)  do |f| %>
        <div class="modal-body">
          <%= f.input :to %>
          <%= f.input :body , :as => :text %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit "Send SMS" , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
