#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to manage_dashboard_path do
        Super Console
    %li
      = link_to 'Dashboard', manage_dashboard_path, class: manage_sidebar_active(:dashboard)
    - if can? :read, Business
      %li= link_to 'Businesses', manage_businesses_path, class: manage_sidebar_active(:businesses)
    = render 'shared/sidebar_user'
