%h3.header
  When a specific Service Provider is not requested
%hr


.content-box.user-priority
  = simple_form_for [@business, @user_priority], url: business_setting_path(@business, @user_priority) do |f|
    %input{type: "hidden", name: "hash", value: "user-priority" }/
    - disable_selection = @service_providers.length < 2
    .row.no-select
      - if disable_selection
        .col.col-lg-12
          .alert.alert-danger.info
            Your Business has less than
            %strong 2 Service Providers,
            check out the User Staff page to &nbsp;
            = link_to 'Add more Providers', business_users_path(@business), class: 'btn btn-success'

      .col.col-lg-12
        .selection
          %input{ id: "user-priority-random", type: :radio, name: "setting[user_priority_type]", value: Setting::USER_PRIORITY_RANDOM, checked: (Setting::USER_PRIORITY_RANDOM == @user_priority.value) }
        .heading
          %label{for: "user-priority-random"}
            The Service Provider will be chosen at Random
            %p
              %span.muted — default

      .col.col-lg-12{ class: "#{disable_selection ? 'muted' : ''}" }
        .selection
          %input{ id: "user-priority-automatic", type: :radio, name: "setting[user_priority_type]", value: Setting::USER_PRIORITY_AUTOMATIC, checked: (Setting::USER_PRIORITY_AUTOMATIC == @user_priority.value), disabled: disable_selection }
        .heading
          %label{for: "user-priority-automatic"}
            Automatically offer the next available appointment from each user
            %p
              %span.muted &nbsp;

      .col.col-lg-12{ class: "#{disable_selection ? 'muted' : ''}" }
        .selection
          %input{ id: "user-priority-custom", type: :radio, name: "setting[user_priority_type]", value: Setting::USER_PRIORITY_CUSTOM, checked: (Setting::USER_PRIORITY_CUSTOM == @user_priority.value), disabled: disable_selection }
        .heading
          %label{for: "user-priority-custom"}
            Use a Custom Priority List
            %p
              %span.muted &nbsp;


    %hr
    %button.btn-save-service-selection.btn-default.btn{type: :submit}
      %i.fa.fa-save
        Save Preferences

