@import "../colors";
@import "./priority";

body.settings {

  .nav.nav-tabs a {
    font-size:20px;
  }

  .service-provider-options {
    display:none;
  }

  .options-container .service-provider-options {
    display:block;
    border:1px solid #e1e1e1;
    padding:10px;
    border-radius:3px;
    .option {
      padding:10px;
      label {
        display:inline-block;
        cursor:pointer;
      }
    }
  }

  .tab-content {
    padding:40px 20px;
  }

  a.block:hover {
    background:$green;
    color:#fff;
    border:1px solid darken($green, 10%);
    cursor:pointer;
  }

  a.block {
    text-decoration: none;
    border:1px solid #e1e1e1;
    color:#000;
    margin:10px;
    text-align: center;
    padding:10px 20px;

    h3 {
      margin:0;
    }
  }

  .content-box {

    .heading p {
      display:block;
    }
    .row > .info {
      padding-left:51px;
      margin-bottom:30px;
    }
  }

  .content-box {
    .office-selections > div,
    .service-selections > div {
      margin-bottom:40px;
    }

    .selection {
      display:inline-block;
      padding-right:10px;
      margin-right:10px;
    }
    .heading {
      display:inline-block;

      select {
        min-width:140px;
        margin-left:10px;
        margin-right:10px;
        display:inline-block;
      }

      p {
        display:inline-block;
        font-weight:300;
      }
    }
  }

}
