body.settings .content-box.user-priority {

  .item[data-user-sort='1'] {
    .down {
    }
    .up {
      opacity:0.5;
      color:#c7c7c7;
      cursor:default;
    }
  }
  .item:last-child {
    .down {
      opacity:0.5;
      color:#c7c7c7;
      cursor:default;
    }
  }


  .item {
    border: 1px solid #e1e1e1;
    border-bottom:none;
    .sort_order {
      text-align:center;
    }

    .display_name {
      font-size:16px;
      padding-left:14px !important;
      padding-top:17px !important;
    }
  }

  .item:hover {
    background:#f7f7f7;
  }

  .item:last-child {
    border-bottom: 1px solid #e1e1e1;
  }

  .up,.down {
    display:inline-block;
    padding:10px;
  }

  .up:hover,
  .down:hover {
    color:red;
    cursor:pointer;
    background:#fff;
  }
  .down {
    color:$dark-red;
  }
  .up {
    color:$green;
  }

  .controls {
    text-align:right;

    i:first-child {
      border-right: 1px solid #e1e1e1;
    }
  }


  .item .col {
    padding:10px 0;
  }


    .priority-types > .type.disabled {
      h3 {
        color:$dark-red;
      }
      .inner:hover,
      .inner {
        border: 1px solid $dark-red;
      }
    }

    .priority-types > .type {
      h3 {
        font-size:18px;
        font-weight:300;
        margin-bottom:25px;
      }
      .inner:hover {
        border:1px solid lighten($green, 0%);
        cursor: default;
      }
      .inner {
        margin-left:-10px;
        margin-right:-10px;
        border:1px solid lighten($green, 30%);
        margin-bottom:20px;
      }

      h2 {
      }

    }


}


