<div class='user-staff'>
  <%= user.display_name %><br/>
  <%= user.email %><br/>
  <hr/>
  <strong>Roles:</strong>
  <% user.roles.each do |role| %>
    <div class='label label-warning'><%= role.to_s.upcase %></div>
  <% end %>
  <a class='pull-right'><i class='fa fa-user'></i>&nbsp; View User</a>
</div>