%ol.breadcrumb
  %li
    %a{:href => manage_businesses_path} Businesses
  %li
    %a{:href => manage_business_path(@business)}= @business.name
  %li.active Editing
%hr/
= render 'form'
%hr/
= link_to 'Show', manage_business_path(@business), class: 'btn btn-link'
|
\#{link_to 'Back', manage_businesses_path, class: 'btn btn-link'}
