<h1>New manage_business</h1>

<%= render 'form' %>

<%= link_to 'Back', manage_businesses_path, class: 'btn btn-link' %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "super/manage_businesses", :media => "all" %>
<% end %>