@import "colors";

p.user-info {
  padding:14px;
}

// Skinny headers
h1,h2,h3 {
  font-weight:100;
}

* {
  position: relative;
}

#page-content-wrapper > .container-fluid > .container {
  margin-left:0;
}

.block {
  display:block;
}

form .control-label abbr {
  display:none;
}

form p.error-text {
  color:$dark-red;
  font-weight: bold;
}

td > .label.label-default {
  background:#fff;
  border:1px solid #000;
  color:#000;
}
td > .label {
  margin-right:2px;
}

.clear {
  clear:both;
}

i.fa.red {
  color:$dark-red;
}

i.fa.green {
  color:$green;
}

.muted {
  color:#999;
}

table.boxed {
  border:1px solid #e1e1e1;
}

.user-sidebar-panel {
  padding:20px;
  font-size:12px;

  a.sign-out {
    color:$dark-red;
  }
}
.form-group .controls {
  margin-left: 140px;
  margin-top: -30px;
}

form textarea {
  // width:100%;
  // max-width:400px;
  min-height:100px;
}

.form-group .error {
  color: $dark-red;
  font-size:12px;
  padding:5px 0;
  margin-top:10px;
  margin-bottom:30px;
}

#sidebar-wrapper {
  li.disabled {
    opacity:0.5;
    cursor: default;
    a:hover,
    a {
      color:#777;
      cursor:default;
    }
  }
}
#error_explanation {
  color:$dark-red;
}

select.bootstrap-select {
  display:none;
}