p.user-info {
  padding:14px;
}

// Skinny headers
h1,h2,h3 {
  font-weight:100;
}

* {
  position: relative;
}

.block {
  display:block;
}

form .control-label abbr {
  display:none;
}

form p.error-text {
  color:red;
  font-weight: bold;
}