// Place all the styles related to the Numbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.numbers {
  input[disabled] {
    border:none;
    background:none;
    color:#c8c8c8;
  }

  .action-edit {
    #number_phone_number {
      font-size:22px;
    }
  }

}

