@import "../colors";

.schedule_rules {

  h4.breaks {
    background:#fff;
    border:1px solid $blue;
    border-bottom:none;
    color:$blue;
    padding:10px;
    margin-bottom:0;
  }

  .break-manager {
    border:1px solid $blue;
    border-top:none;

    .configure-office {
      margin-top:10px;
    }

    .state-view {
      .state-open,
      .state-closed {
        display:none;
      }

      .close {
        float:left;
        opacity:1;
      }
    }

    .state-view.open {
      .state-open {
        display: block;
        padding:2px;
        top: 3px;
        left: -10px;
        // border:1px solid #e1e1e1;
        border-radius:4px;
        // min-height:106px;
        // background:#fff;
        h5 {
          top:-10px;
          left:5px;
        }
        label {
          display:inline-block;
          margin-left:10px;
        }
        p.muted {
          left: 20px;
          top: 15px;
          font-size: 12px;
        }

        .close:hover {
          border-color:$dark-red;
          color:$dark-red;
        }
        .close {
          display: inline-block;
          border:2px solid #000;
          border-radius: 20px;
          color:#000;
          width: 18px;
          text-align: center;
          margin-right: 3px;
          font-size: 14px;
          z-index:10;
        }
      }
    }

    .state-view.closed {
      .state-closed { display: block; }
    }

    .actions.well {
      border-radius: 0;
      margin-bottom: 0;
      label {
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        min-width: 180px;
        margin-bottom: 20px;
      }

      .btn-link {
        // border: 1px solid #e1e1e1;
        // border-radius: 5px;
      }
    }
  }

  .breaks.row {
    margin-left:0;
    margin-right:0;
  }

  .btn-add-service {
    margin-top:7px;
  }
  .btn.save:hover i {
    color:$green;
  }
  .btn.edit:hover i {
    color:blue;
  }
  .btn.destroy:hover i {
    color:red;
  }

  .group-days {
    label {
      min-width:50px !important;
      width:100px !important;
      display:inline-block !important;
      text-align: left;
    }
  }

  .view-archived {
    top:-2px;
    position: relative;
  }

  .action-new {

    .service-providers {
      .right {
        position: relative;
        top:4px;
        select {
          font-size:22px;
        }
      }
    }

    .service-entries.row {
      margin-left:0;
      margin-right:0;
    }

    .service-list.loaded {
      .preloaded-message {
        display:none;
      }
    }

    .service-list {
      border-radius:4px;
      margin-top:4px;

      .preloaded-message {
        padding:20px 0;
        font-size:12px;
      }

      .service-label {
        padding:5px 10px;
        border:1px solid $green;
        color:$green;
        display: inline-block;
        max-width:200px;
        margin-right:10px;
        margin-top:10px;
        border-radius:4px;
      }
    }

    table.entries {
      .c-day {
        text-transform: uppercase;
        font-size:12px;
      }
    }

    .time-sheet-services.closed {
      .message { display:block; }
      .selection { display:none; }
    }

    .time-sheet-services.open {
      .message { display:none; }
      .selection { display:block; }
    }

    .time-sheet-services {
      position:absolute;
      right:40px;
      top:20px;
      z-index:9999999;
      padding:5px;
      
      .edit-services {
        /*color:$dark-red;*/
      }

      .save-services {
        color:$green;
      }

      > .label {
        display:inline-block;
        background:none;
        color:#555;
        font-size:14px;
        padding-right:20px;
      }

      > .input-group {
        display: inline-block;
        .message {
          font-size:14px;
          color:#999;
          margin-right:20px;
          .edit:hover {
            cursor:pointer;
            color:$green;
          }
          .edit {
            color:#000;
            margin-left:10px;
            margin-right:10px;
          }
        }
      }
    }

    .time-sheet {
      border:1px solid $green;
      margin-top:20px;
      box-shadow:1px 1px 10px #c7c7c7;

      thead {
        background: #F5F5F5;
      }

      .time-sheet-destroy {
        position:absolute;
        right:10px;
        top:5px;
      }

      .time-entry {

      }
      .validity.open {
        .save-validity {
          display:block;
        }

        .filter-screen,
        .edit-validity {
          display:none;
        }
      }

      .validity.closed {
        input {
          border:none !important;
          box-shadow: none !important;
          opacity:0.8;
        }
        .label {
          opacity:0.4;
        }
        .edit-validity {
          color:#999;
        }
      }

      .validity {
        position: absolute;
        top: 0px;
        left: 150px;
        z-index: 100;

        .filter-screen {
          width:100%;
          height:100%;
          position:absolute;
          z-index:9;
          left:0; top:0; right:0; bottom:0;
          background:rgba(255,255,255,0.5)
        }

        .save-validity:hover {
          color:$green;
        }

        .edit-validity:hover {
          color:$blue;
        }

        .save-validity {
          display:none;
        }

        .save-validity,
        .edit-validity {
          position:absolute;
          right:20px;
          top:32px;
          z-index: 1000;
          cursor:pointer;
        }

        .input-group-addon {
          cursor:pointer;
        }

        .from, .until {
          float:left;
          padding:4px 10px;
          max-width: 250px;

          .label {
            text-transform: uppercase;
            font-size: 11px;
            min-height: 20px;
            display: block;
            padding-top: 5px;
            border-radius: 0;
            background:#fff;
            border:none;
            text-align: left;
            color:#444;
          }
          input {
            border-radius:0 0 3px 3px;
            padding-left:5px;
            border:1px solid #e1e1e1;
            max-width:100px;
          }
        }
        .until {
          input {
            border:1px solid #e1e1e1;
            max-width:140px;
          }
        }
        .from {
          input {
            border:1px solid #e1e1e1;
          }
        }
      }

      .header {
        top:-20px;
        font-size:16px;
        color:$green;
        text-transform: uppercase;
      }

      .header.entries {
        left:0;
      }

      .divider {
        border-left: 1px solid #999;
        margin-left: 20px;
      }

      .actions.well {
        border-radius:0;
        margin-bottom:0;
        label {
          font-size:12px;
          text-transform: uppercase;
          display:inline-block;
          min-width:180px;
          margin-bottom:20px;
        }
      }
    }

    .time-sheet:last-child {
      margin-bottom:50px;
    }

    @media(max-width:1184px){
      .time-sheet {
        padding-top:70px;
        .validity {
          top: -57px;
          left: 10px;
        }
      }
    }

    h3.configure-time-sheets {
      font-size:14px;
      font-weight:bold;
      text-transform: uppercase;
      background:#fff;
      border:1px solid #e1e1e1;
      padding:10px 20px;
      color:#000;
      display:block;
      max-width:250px;
    }


    label {
      // font-size:18px;
      font-weight:normal;
    }

    .btn-add-time-sheet {
      display:inline-block;
    }

  } // end .action-new



///////////////////////////
} // end .schedule_rules
